{% extends 'registration/baseLoginSignup.html' %}

{% load crispy_forms_tags %}

{% block title %}Cambio password{% endblock %}

{% block cardTitle %}Inserisci la nuova password{% endblock %}

{% block formContent %}
    {% if validlink %}
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary btn-rounded btn-block my-4 z-depth-0" type="submit">Cambia password</button>
        </form>
    {% else %}
        <p>Il link per il reset della pagina non è più valido. Rifai la procedura per ottenerne uno valido.</p>
    {% endif %}
{% endblock %}