{% extends 'registration/baseLoginSignup.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset password{% endblock %}
{% block cardTitle %}Reset password{% endblock %}

{% block formContent %}
    <br>
    <p>Inserisci l'email utilizzata durante la fase di registrazione, ti invieremo tutte le istruzioni per creare una
        nuova password</p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary btn-rounded btn-block my-4 z-depth-0" type="submit">Invia email</button>
    </form>
{% endblock %}