{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifica password utente{% endblock %}
{% block slideshow %}
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Salva</button>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}