{% extends 'registration/baseLoginSignup.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifica password utente{% endblock %}

{% block cardTitle %}Modifica password{% endblock %}
{% block formContent %}
    <br>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-secondary btn-rounded btn-block my-4 z-depth-0" type="submit">Salva</button>
    </form>
{% endblock %}