{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block slideshow %}
    <h1>Nuovo thread</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" id="save">
    </form>
{% endblock %}

{% block javascript %}
    <script>
    /*
        $('#id_title').change(function () {
            $.ajax({
                type: 'GET',
                {#url: '{% url 'ajax-title-existing' %}',#}
                data: {
                    'title': $(this).val(),
                    'category': {{ category }}
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                       // alert('Thread con titolo' + $(this).val() + 'già presente in questa categoria');
                        alert("Titolo già presente");
                    }
                }
            });
        });
    /*
    </script>
{% endblock %}