{% extends 'base.html' %}
{% block slideshow %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container py-3">
        <div class="card py-2">
            <div class="col-md-12">
                <p><b>{{ thread.title }}</b></p>
                <img class="rounded-circle" width="50" height="50"
                     src="{{ thread.user.avatar.url }}"
                     alt="Card image cap">
                <p>{{ thread.get_user.username }} ha scritto: </p>
                <p>{{ thread.text }}</p>
            </div>
        </div>
    </div>
    <div class="container text-center"><p><b>RISPOSTE:</b></p></div>
    {% for comm in comment %}
        <div class="container py-3">
            <div class="card py-2">
                <div class="col-md-12">
                    <img class="rounded-circle" width="50" height="50"
                         src="{{ comm.user.avatar.url }}"
                         alt="Card image cap">
                    {% if comm.is_modified %}
                        (modificato)
                    {% endif %}
                    <p>L'utente {{ comm.get_user.username }} ha scritto:</p>
                    <p>{{ comm.text }}</p>
                    {% if user.is_staff %}
                        <a href="{% url 'deleteComment' category.pk thread.pk comm.pk %}" title="Elimina commento"
                           onclick="return confirm('Vuoi davvero eliminare il commento?')">Elimina commento</a>
                    {% endif %}
                    {% if user.pk == comm.user.get_user.pk %}
                        {% if thread.is_active %}
                            <a href="{% url 'editComment' category.pk thread.pk comm.pk %}" title="Modifica commento">Modifica
                                commento</a>
                        {% endif %}
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if thread.is_active %}
        <div class="conteiner text-center">
            <a role="button" class="btn btn-success" href="{% url 'createComment' category.pk thread.pk %}">Rispondi</a>
        </div>
    {% endif %}

{% endblock %}