{% extends 'base.html' %}
{% block title %}Categoria {{ category.title }}{% endblock %}

{% block slideshow %}
    <div class="container">
        <div class="container py-2" id="mex-container">
            {% if messages %}
                {% for message in messages %}
                    {% if "thread_unlock_error" in message.tags %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><a style="color: #757575" href="{% url 'mainPageCategory' %}">Home
                    forum</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a style="color: black"
                        href="{% url 'viewThreadCategory' category.pk %}">Categoria: {{ category.title }}</a></li>
            </ol>
        </nav>


        <table class="table-sm"
               data-toggle="table"
               data-pagination="true"
               data-page-size="10"
               data-search="true">
            <thead class="thead-light">
            <tr>
                <th scope="col" data-sortable="true" data-field="title">Titolo</th>
                <th scope="col" data-sortable="true" data-field="creation_date">Data di creazione</th>
                <th scope="col" data-field="user">Utente che ha iniziato la discussione</th>
                <th scope="col" data-sortable="true" data-field="number_comment">Numero di Commenti</th>
                {% if user.is_staff %}
                    <th scope="col">Azioni</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for key,value in thread.items %}
                <tr>
                    <th scope="row"><a href="{% url 'viewThreadComment' category.pk key.pk %}" style="color: black">
                        <h5>{{ key.title }}</h5>
                    </a>
                        {% if not key.is_active %}
                            (chiuso)
                        {% endif %}</th>
                    <td>{{ key.get_create_date }}</td>
                    <td><img class="rounded-circle" width="50" height="50"
                             src="{{ key.user.avatar.url }}"
                             alt="Card image cap"> {{ key.get_user.username }}</td>
                    <td>{{ value }}</td>
                    {% if user.is_staff %}
                        <td>
                            {% if not key.is_active %}
                                <a href="{% url 'unlockThread' category.pk key.pk %}" title="Sblocca Thread"
                                   onclick="return confirm('Vuoi davvero sbloccare il thread?')"
                                   class="btn btn-primary">
                                    <i class="fas fa-unlock"></i>
                                </a>
                            {% endif %}
                            {% if key.is_active %}
                                <a href="{% url 'lockThread' category.pk key.pk %}" class="btn btn-primary"
                                   title="Blocca Thread"
                                   onclick="return confirm('Vuoi davvero sospendere il thread?')"><i
                                        class="fas fa-lock"></i></a>
                            {% endif %}
                            <a href="{% url 'deleteThread' category.pk key.pk %}" class="btn btn-danger"
                               title="Elimina Thread"
                               onclick="return confirm('Vuoi davvero eliminare il thread?')"><i
                                    class="fas fa-trash"></i></a>


                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <div class="alert alert-info" role="alert" style="text-align: center">
                    Nessun Thread disponibile
                </div>
            {% endfor %}
            </tbody>
        </table>
        <a role="button" class="btn btn-secondary" href="{% url 'createThread' category.pk %}"><i
                class="fas fa-plus"></i> Crea nuovo thread </a>
    </div>
{% endblock %}