{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block slideshow %}

    <div class="card-deck py-2 px-2">
        <!-- San Piero in Bagno -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: CustomFontBold">Bagno di Romagna</h5>
                <img class="card-img-top round-cicle" src="{% static 'img/simboliLocalità/BAGNO_DI_ROMAGNA.png' %}"
                     alt="Card image cap">
                <p class="card-text">Grazioso borgo termale, nel cuore della Romagna-Toscana, è posto lungo la
                    E45, strada a scorrimento veloce che collega Roma, la capitale, a Ravenna, la città di mare
                    custode dei capolavori bizantini. La purezza degli elementi, il calore naturale delle acque,
                    l'intensità dei sapori, la cordialità di una piccola comunità di montagna e la qualità dei
                    servizi, frutto di una lunga esperienza, sono le anime di una terra di incontri.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.bagnodiromagnaturismo.it/-/bagno-di-romagna-localita">Vedi altro</a>
            </div>
        </div>

        <!-- San Piero in Bagno -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: CustomFontBold">San Piero in Bagno</h5>
                <img class="card-img-top round-cicle" src="{% static 'img/simboliLocalità/SAN_PIERO_IN_BAGNO.png' %}"
                     alt="Card image cap">
                <p class="card-text"> Posto nel fondovalle lungo il fiume Savio e la Strada di Grande Comunicazione
                    E/45, è capoluogo del comune, sorto nel XIII secolo come "mercatale" del soprastante castello di
                    Corzano che si è sviluppato con la lunga dominazione fiorentina.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.bagnodiromagnaturismo.it/-/san-piero-in-bagno-localita">Vedi altro</a>
            </div>
        </div>

        <!-- Acquapartita -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: CustomFontBold">Acquapartita</h5>
                <img class="card-img-top round-cicle" src="{% static 'img/simboliLocalità/ACQUAPARTITA.png' %}"
                     alt="Card image cap">
                <p class="card-text"> La frazione di Acquapartita è posta ai margini di un laghetto (4 ettari) sulle
                    pendici del monte Còmero, lungo la SP. 43 che da S. Piero in Bagno conduce al monte Fumaiolo e
                    alle Sorgenti del Tevere. E' un luogo immerso nel verde, ideale per la vacanza ed il relax,
                    dotato di alberghi, ristoranti rinomati per funghi, tartufi e cacciagione.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.bagnodiromagnaturismo.it/-/acquapartita-localita">Vedi altro</a>
            </div>
        </div>

        <!-- Laghi -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: CustomFontBold">Laghi</h5>
                <img class="card-img-top round-cicle"
                     src="{% static 'img/simboliLocalità/LAGO_PONTINI_E_LAGO_LUNGO.png' %}"
                     alt="Card image cap">
                <p class="card-text">Il Lago dei Pontini (748 mt slm) e il Lagolungo (616 mt slm) sono posti alle
                    pendici del monte Còmero. Si sono formati a seguito di una enorme frana staccatasi il 15 febbraio
                    del 1855 da San Cataldo. Intorno ad essi si trova un antico castagneto che annovera
                    molte piante secolari.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.bagnodiromagnaturismo.it/-/bagno-lago-dei-pontini-e-lagolungo-luoghi_int_nat"> Vedi
                    altro</a>
            </div>

        </div>

        <!-- Alfero -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: CustomFontBold">Alfero</h5>
                <img class="card-img-top round-cicle" src="{% static 'img/simboliLocalità/ALFERO.png' %}"
                     alt="Card image cap">
                <p class="card-text"> Alfero è posta in una splendida conca, dominata dai massicci del Comero e del
                    Fumaiolo edincorniciata da secolari castagneti, boschi di faggi e abeti. Alfero è un felice connubio
                    di
                    bellezze naturali, moderne attrattrezzature, quiete e tradizionale
                    ospitalità, che lo rendono luogo ideale per ritemprare corpo e spirito, con alberghi, ristoranti e
                    una cucina strettamente legata al territorio. </p>
            </div>
            <div class="card-footer">
                <a href="https://www.emiliaromagnaturismo.it/it/localita/alfero">Vedi altro</a>
            </div>
        </div>

    </div>

{% endblock %}