{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block slideshow %}
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp" style="color: black;">
                        <br>
                        <h2>Benvenuto a Bagno di Romagna</h2>
                        <h5>Visita e scopri la nostra terra piena di storia e bellezze</h5>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus metus id mi malesuada tempor id id nulla.
    Suspendisse orci turpis, porta ut nibh eu, aliquet tempus neque. Vivamus lectus velit, hendrerit non arcu vel,
    eleifend mollis purus. Donec ac laoreet dolor. Sed finibus et nisl eu fringilla. Etiam sagittis congue libero in
    mattis. Morbi placerat purus eu augue ornare lacinia. Praesent pretium, diam nec cursus ornare, dui quam posuere
    est, nec scelerisque velit elit vel erat. Maecenas in neque pharetra, mollis ante ac, scelerisque ligula. Nunc ac
    libero risus.

    Ut porta sit amet sem nec ultricies. Fusce imperdiet elementum vulputate. Sed mi magna, mollis quis diam consequat,
    viverra consectetur lorem. Vivamus suscipit velit faucibus arcu maximus cursus. Integer vestibulum commodo mi, ut
    accumsan dolor euismod et. Suspendisse quis ligula eu ex maximus tristique. Curabitur pharetra eros et odio
    consectetur suscipit.

    Curabitur gravida massa velit, vitae hendrerit leo imperdiet ut. Aenean vulputate velit a eros viverra, sit amet
    posuere ante sagittis. Vestibulum blandit elit eu porta laoreet. Sed congue, diam sit amet luctus molestie, augue
    sapien scelerisque nisl, et commodo diam magna sit amet nisl. Sed sit amet tellus sit amet ex volutpat maximus.
    Vivamus feugiat enim at lorem fermentum hendrerit. Donec nisi lacus, dapibus non elit nec, finibus suscipit metus.
    Vivamus quis justo sit amet orci cursus ullamcorper nec id sem.

    Proin non erat blandit, euismod mauris ac, mattis sapien. Pellentesque sodales ac leo vitae feugiat. Integer dolor
    felis, semper vitae consequat nec, commodo ac ante. Suspendisse aliquet sed urna ac iaculis. Etiam arcu ligula,
    egestas ac metus id, mattis posuere purus. Etiam ex diam, consequat in rutrum eu, venenatis quis odio. Integer a
    consequat lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed
    efficitur laoreet orci. Ut varius nulla risus, eget luctus sem commodo non. Proin eleifend lobortis mi nec ornare.

    Vivamus odio erat, gravida vel fringilla vel, dapibus ut ex. Praesent diam odio, maximus in magna sit amet,
    pellentesque vulputate massa. Aenean rhoncus ligula quis odio commodo malesuada. In ultricies nibh vitae gravida
    convallis. Nulla efficitur dictum orci nec ornare. Ut aliquet feugiat diam eget tempor. Curabitur sit amet varius
    urna, vel commodo quam. Phasellus tincidunt cursus nisi non pellentesque. Nunc sem sapien, vulputate eu lacus non,
    rhoncus lacinia elit. Nunc dapibus fringilla venenatis. Aenean dignissim enim vel purus semper sagittis.

    Maecenas commodo urna sit amet arcu consectetur hendrerit et in lorem. Integer eget varius purus. In eros est,
    hendrerit nec feugiat nec, dapibus ut ante. Suspendisse sit amet commodo libero. Proin ac ante mattis, accumsan
    tortor posuere, interdum metus. Aliquam fringilla mattis nulla. Cras hendrerit neque id ex porta, non fermentum
    velit lacinia. Vestibulum eget laoreet ex. Aenean sed nisl diam. Suspendisse laoreet sapien sem, vitae tincidunt
    massa pharetra vitae. Donec risus justo, euismod in turpis at, semper tincidunt nulla. Phasellus sed est quis tellus
    iaculis tempus. Nam eget enim eget felis tempus pretium.

    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean vitae risus a mi
    efficitur ultricies. Proin consectetur lorem nec efficitur ultrices. Ut nec tortor at massa efficitur fermentum.
    Duis pulvinar turpis sit amet lectus convallis, sed pellentesque dolor varius. Nulla quis sapien a turpis interdum
    porttitor. Maecenas sit amet justo eget lacus bibendum consequat. In tincidunt aliquet purus, nec dapibus ex luctus
    eu. Sed imperdiet varius nisl, nec ullamcorper ex consequat vel. In quam libero, consequat vitae lacus sit amet,
    tempus euismod tellus. Maecenas congue vehicula lorem eu ornare. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Nulla sit amet ligula et arcu volutpat lobortis. Maecenas finibus
    malesuada elit non condimentum. </p>
{% endblock %}