{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifica recensione{% endblock %}

{% block slideshow %}
    <div class="container py-3">
        <div class="card py-2">
            <div class="col-md-12">
                <h5>Inserisci una recensione</h5>
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                    {{ form.title|as_crispy_field }}
                    {{ form.valuation|as_crispy_field }}
                    {{ form.comment|as_crispy_field }}
                    {{ form.image|as_crispy_field }}

                    <p>Elimina immagini</p>
                    <ul class="pagination pg-blue">
                        {% for imm in image %}
                            <li class="page-item">
                                <div class="container px-2">
                                    <img src="{{ imm.photo.url }}" height="100" width="100">
                                    <br>
                                    <div class="text-center pt-1">
                                        <a href="{% url 'deleteImageReview' pk_user pk_path imm.pk %}"
                                           class="btn btn-danger"
                                           type="submit"
                                           role="button" style="justify-content: right"> <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="btn btn-warning btn-rounded z-depth-0" type="submit">
                        Modifica recensione
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
