{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% block title %}Cerca percorso{% endblock %}

{% block slideshow %}
    <div class="container py-4">
        <div class="card py-3">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-danger py-2" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if not filter.qs and not messages %}
                    <div class="alert alert-warning py-2" role="alert">
                        Nessun percorso soddisfa i campi inseriti
                    </div>
                {% endif %}

                <form method="get">
                    <div class="form-row">
                        <div class="form-group col-md mb-0">
                            {{ filter.form.activity|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.start|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.end_time|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md mb-0">
                            {{ filter.form.km_min|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.km_max|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.ordering|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-rounded btn-block z-depth-0" type="submit">
                        Ricerca
                    </button>
                </form>
            </div>
        </div>

        <!-- Blocco risultati -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 py-2">
            {% for path in filter.qs %}
                <div class="col mb-4">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="{{ path.cover.url }}" alt="Card image cap" width="100%"
                                 height="170px">
                            <div class="card-body">
                                <p class="card-title"><b>Percorso {{ path.id }} - {{ path.totalKilometers }} Km</b></p>
                                <ul class="list-unstyled list-inline rating mb-0">
                                    <span id='stars-{{ path.id }}'></span>
                                    <li class="list-inline-item">
                                        {% for key,value in review.items %}
                                            {% if key == path.id %}
                                                <script src="/static/javascript/drawStar.js"></script>
                                                <script>
                                                    document.getElementById("stars-{{ path.id }}").innerHTML = getStars("{{ value }}");
                                                </script>
                                                {% for num_path, num in num_review.items %}
                                                    {% if num_path == path.id%}
                                                        {{ value|floatformat:1 }} ({{ num }})
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                                <small>
                                    Difficotà: {{ path.difficulty }}<br>
                                    Partenza: {{ path.get_start_display }}<br>
                                    Arrivo: {{ path.get_end_display }}<br>
                                    Tempo a piedi:
                                    {% if path.walkTime|intdiv:60 == 0 %}
                                        {{ path.walkTime|mod:60 }} min
                                    {% else %}
                                        {{ path.walkTime|intdiv:60 }}:{{ path.walkTime|mod:60 }} h
                                    {% endif %}
                                    <br>
                                    Tempo in bici:
                                    {% if path.bikeTime|intdiv:60 == 0 %}
                                        {{ path.bikeTime|mod:60 }} min
                                    {% else %}
                                        {{ path.bikeTime|intdiv:60 }}:{{ path.bikeTime|mod:60 }} h
                                    {% endif %}
                                </small><br>
                                <hr/>
                                <a class="btn btn-secondary" type="submit" role="button"
                                   href="{% url 'detailPath' path.id %}">Visualizza
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}