{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% block title %}Cerca percorso{% endblock %}

{% block slideshow %}
    <div class="container py-4">
        <div class="card py-3">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-danger py-2" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if not filter.qs and not messages %}
                    <div class="alert alert-warning py-2" role="alert">
                        Nessun percorso soddisfa i campi inseriti
                    </div>
                {% endif %}

                <form method="get">
                    <div class="form-row">
                        <div class="form-group col-md mb-0">
                            {{ filter.form.activity|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.start|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.end_time|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md mb-0">
                            {{ filter.form.km_min|as_crispy_field }}
                        </div>
                        <div class="form-group col-md mb-0">
                            {{ filter.form.km_max|as_crispy_field }}
                        </div>
                    </div>


                    <button class="btn btn-secondary btn-rounded btn-block my-4 z-depth-0" type="submit">
                        Ricerca
                    </button>
                </form>
            </div>
        </div>


        <!-- Blocco risultati -->
        <!-- Card -->
        <div class="card-columns py-3">
            {% for path in filter.qs %}
                <div class="card">
                    <img class="card-img-top" src="{{ path.cover.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Percorso {{ path.id }} - {{ path.totalKilometers }} Km</h5>
                        <ul class="list-unstyled list-inline rating mb-0">
                            <span id='stars-{{ path.id }}'></span>
                            <li class="list-inline-item">
                                <p class="text-muted">
                                    {% for key,value in review.items %}
                                        {% if key == path.id %}
                                            {{ value }}
                                            <script>
                                                function getStars(rating) {
                                                    // Round to nearest half
                                                    rating = Math.round(rating * 2) / 2;
                                                    let output = [];

                                                    // Append all the filled whole stars
                                                    for (var i = rating; i >= 1; i--)
                                                        output.push('<i class="fa fa-star amber-text" aria-hidden="true" ></i>&nbsp;');

                                                    // If there is a half a star, append it
                                                    if (i == .5) output.push('<i class="fa fa-star-half-o amber-text" aria-hidden="true" ></i>&nbsp;');

                                                    // Fill the empty stars
                                                    for (let i = (5 - rating); i >= 1; i--)
                                                        output.push('<i class="fa fa-star-o amber-text" aria-hidden="true"></i>&nbsp;');

                                                    return output.join('');
                                                }

                                                document.getElementById("stars-{{ path.id }}").innerHTML = getStars("{{ value }}");
                                            </script>
                                        {% endif %}
                                    {% endfor %}</p>
                            </li>
                        </ul>
                        <p>Difficotà: {{ path.difficulty }}</p>
                        <p>Partenza: {{ path.get_start_display }}</p>
                        <p>Arrivo: {{ path.get_end_display }}</p>
                        <p>Tempo a piedi:
                            {% if path.walkTime|intdiv:60 == 0 %}
                                {{ path.walkTime|mod:60 }} min
                            {% else %}
                                {{ path.walkTime|intdiv:60 }}:{{ path.walkTime|mod:60 }} h
                            {% endif %}
                        </p>
                        <p>Tempo in bici:
                            {% if path.bikeTime|intdiv:60 == 0 %}
                                {{ path.bikeTime|mod:60 }} min
                            {% else %}
                                {{ path.bikeTime|intdiv:60 }}:{{ path.bikeTime|mod:60 }} h
                            {% endif %}
                        </p>
                        <hr/>
                        <button class="btn btn-secondary btn-rounded btn-block my-2 z-depth-0" type="submit">
                            Visualizza
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
