{% extends 'base.html' %}

{% block title %}Percorsi{% endblock %}

{% block slideshow %}
    <div class="container py-4">
        <div class="col-md-12">
            <div class="text-right py-2">
                <a class="btn btn-secondary" role="button" href="{% url 'insertPath' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Aggiungi un nuovo percorso
                </a>
            </div>
            <p><b>Lista percorsi</b></p>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id percorso</th>
                    <th scope="col">Partenza</th>
                    <th scope="col">Arrivo</th>
                    <th scope="col">Lunghezza</th>
                    <th scope="col">Azioni</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.get_start_display }}</td>
                        <td>{{ object.get_end_display }}</td>
                        <td>{{ object.totalKilometers }}</td>
                        <td>
                            <a class="btn btn-warning" role="button" href="{% url 'editPath' object.pk %}"><i
                                    class="fa fa-wrench"
                                    aria-hidden="true"></i>
                                Modifica
                            </a>
                            <a class="btn btn-danger" role="button" href="{% url 'removePath' object.pk %}">
                                <i class="fa fa-trash" aria-hidden="true"></i> Elimina
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <div class="alert alert-info" role="alert" style="text-align: center">
                        Nessun percorso ancora inserito, utilizza il pulsante
                        "Aggiungi un nuovo percorso"
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}